/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Unity generated
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Rider / VS / VSCode
.idea/
.vscode/
.vs/

# OS
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt

# Addressables / build cache
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/StreamingAssets/aa.meta
/[Aa]ssets/StreamingAssets/aa/